html {
    background-color: black;
}
body {
    margin:0;
    background-color: black;
}

header {
    background-color: black;
    max-height:30em;
}

main{
background-color: black;
}

h1 {
    text-align: center;
}

img {
    width: 70%;
    float: right;
    max-height: 15em;
}

.nav {
    height:100vh;
    background-color: black;
}

.nav-link {
    color: yellow;
    font-size: 20px;
}

.nav-link:hover {
    background-color: yellow;
    color: black;
}

p {
    margin-left: 30%;
    color: white;
    background-color: black;
    padding-right: 1em;
}

h2 {
    margin-left: 30%;
}

iframe {
    margin-left: 30%;
    margin-bottom: 3em;;
}

table {
    margin-left: 30%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding:0%;
}